$color-main: #444;
$color-core: #212732;
$color-base: #fff;
$color-gray: #686e79;

$color-lightgray: #eeeeee;

$color-pink-answer: #ff6088;
$color-pink-light: #fae3e8;
$color-pink-dark: #f2476c;
$color-pink:  #ff6a8f;
$color-red: #FF6B6B;
$color-red-light: #FF8C8C;
$color-red-dark: #FF4C4C;
$color-orange-answer: #ffa639;
$color-orange-light: #fff0e4;
$color-orange-dark: #FF8C00;
$color-orange: #ffa94d;
$color-yellow: #FFD43B;
$color-yellow-light: #FFE57F;
$color-yellow-dark: #FFC700;
$color-yellowgreen: #C0E57C; 
$color-yellowgreen-light: #f1ffde;
$color-yellowgreen-dark: #A8D600;
$color-green-answer: #43c449;
$color-green-light: #d1f0d2;
$color-green-dark: #43A047;
$color-green: #8bd163;
$color-blue-answer: #36a4ff;
$color-blue-light: #d6edff;
$color-blue-dark: #007BFF;
$color-blue: #4bb1ff;
$color-purple-answer: #936fff;
$color-purple-light: #ece6f7;
$color-purple-dark: #7A4BFF;
$color-purple: #a77bff;





$bp-xs: 480px;  // 小さいスマホ
$bp-sm: 768px;  // スマホ～タブレット
$bp-md: 1024px; // ノートPC
$bp-lg: 1280px; // デスクトップ